* {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
    "header header header"
    "aside article right-aside"
    "sidebar article right-aside"
    "footer footer right-aside";
  height: 100%;
}

.nav-bar {
  grid-area: header;
  background-color: lightblue;
  display: grid;
  align-items: center;
  grid-template-columns: auto;
  grid-template-areas: "list head motto";
}

.task-list {
  grid-area: list;
}

.tasks {
  padding: 10% 20%;
}

.tasks li {
  height: 33%;
}

.head {
  grid-area: head;
  height: 100%;
  padding: 5%;
}

.motto-cell {
  padding: 5%;
}

.motto {
  grid-area: motto;
  min-height: 50%;
  background-color: white;
}

.side-menu {
  grid-area: aside;
  background-color: lightsalmon;
  height: auto;
}

p {
  height: auto;
}

.sidebar-widget {
  grid-area: sidebar;
  background-color: lightgreen;
}

.main-content {
  grid-area: article;
  background-color: white;
}

.right-sidebar {
  grid-area: right-aside;
  background-color: lightsalmon;
}

.footer {
  grid-area: footer;
  background-color: lightblue;
  display: grid;
  grid-template-columns: 1fr 1.7fr;
}

.outro,
.quote {
  min-height: 50%;
  margin: 0 5%;
}

.words {
  font-style: italic;
}

.outro {
  background-color: white;
}
