* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.main__wrapper {
  min-height: 100vh;
  display: flow-root;
}

.nav-bar {
  width: 100%;
  height: 25vh;
  display: flow-root;
  background-color: lightblue;
  position: relative;
}

.home-logo {
  float: left;
  width: 25%;
}

.task-list {
  float: left;
  width: 50%;
}

.motto {
  float: left;
  background-color: white;
  width: 25%;
  margin: auto 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.content {
  display: flow-root;
  float: left;
  width: 100%;
  min-height: 75%;
}

.wrapper {
  display: flow-root;
  float: left;
  min-height: 100%;
  width: 75%;
}

.right-sidebar {
  float: left;
  width: 25%;
  min-height: 75vh;
  background-color: lightcoral;
}

.left-sidebar {
  display: flow-root;
  float: left;
  width: 33%;
  min-height: 50vh;
}

.side-menu {
  float: left;
  background-color: lightcoral;
  min-height: 25vh;
  width: 100%;
}

.sidebar-widget {
  float: left;
  background-color: lightgreen;
  min-height: 25vh;
  width: 100%;
}

.main-content {
  display: flow-root;
  float: right;
  background-color: white;
  width: 67%;
  min-height: 50vh;
  position: relative;
}

.footer {
  float: left;
  background-color: lightblue;
  height: 25vh;
  width: 100%;
}

.outro {
  float: left;
  background-color: white;
  height: 50%;
  width: 25vw;
  margin: 0 3%;
}
